@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: darkseagreen;
    max-width: 400px;
    margin: auto;
    
}
img {
    width: 400px;
    height: auto;
    border-radius: 75%;
}
.headtitle {
    font-family: Lobster, sans-serif;
    font-size: 40px;
    text-align: center;
}
.headtitle.mainpage {
    font-size: 50px;
}
.subtitle {
    font-family: Lobster, sans-serif;
    font-size: 25px;
}